In [4]:
import numpy as np
import pandas as pd
import sklearn


df = pd.read_csv ("data.csv")
print (df.head())

        Price Apartment type Metro station  Minutes to metro         Region  \
0   6300000.0      Secondary       Опалиха               6.0  Moscow region
1   9000000.0      Secondary       Павшино               2.0  Moscow region
2  11090000.0      Secondary      Мякинино              14.0  Moscow region
3   8300000.0      Secondary      Строгино               8.0  Moscow region
4   6450000.0      Secondary       Опалиха               6.0  Moscow region

   Number of rooms  Area  Living area  Kitchen area  Floor  Number of floors  \
0              1.0  30.6         11.1           8.5   25.0                25
1              1.0  49.2         20.0          10.0    6.0                15
2              1.0  44.7         16.2          13.1   10.0                25
3              1.0  35.1         16.0          11.0   12.0                33
4              1.0  37.7         15.2           4.0    5.0                 5

                  Renovation
0                   Cosmetic
1  European-style renovation
2                   Cosmetic
3  European-style renovation
4         Without renovation

In [6]:
# define indepenent and dependent variables (independent - housing prices, dependent - destination from metro)
x = df ["Price"]
print (x)

0         6300000.0
1         9000000.0
2        11090000.0
3         8300000.0
4         6450000.0
            ...
22671     4768792.0
22672     5900000.0
22673     3700000.0
22674     5768869.0
22675     6839157.0
Name: Price, Length: 22676, dtype: float64

In [7]:
y = df ["Minutes to metro"]
print (y)

0         6.0
1         2.0
2        14.0
3         8.0
4         6.0
         ...
22671     8.0
22672    25.0
22673    30.0
22674    14.0
22675     8.0
Name: Minutes to metro, Length: 22676, dtype: float64

In [12]:
# calculate the 0 Theta and 1 Theta
# where 0 Theta = y mean - theta 1 * x mean
# where 1 Theta = sum ((xi - x mean) * (yi - y mean)) / (sum (xi - x mean))^2
# calculate y hat = theta 0 + theta 1 * x1

x_mean = df["Price"].mean()
y_mean = df["Minutes to metro"].mean()

theta1  = ((df['Price'] - x_mean) * (df['Minutes to metro'] - y_mean)).sum() / ((df['Price'] - x_mean)).sum() ** 2
theta0 = y_mean - theta1 * x_mean

x1 = 6500000
yhat =  theta0 + theta1 * x1

print (yhat)

1.1906534822433895e+28

In [17]:
# calculate theta 0 = y mean - theta 1 * x mean
# calculate theta 1 = sum ((xi - x mean) * (yi - y mean)) / sum ((xi-x mean))^2
# calculate y hat = theta 0 + theta 1 * x1

x_mean = df["Price"].mean()
y_mean = df["Minutes to metro"].mean()
number = df['Price'].count()

theta1 = ((df['Price'] - x_mean) * (df['Minutes to metro'] - y_mean)).sum() / ((df['Price'] - x_mean)).sum() ** 2
theta0 = y_mean - theta1 * x_mean
x1 = 6500000
yhat = theta0 + theta1 * x1
Mse = ((df['Minutes to metro'] - yhat)).sum() ** 2 * 1/number
print (Mse)
print ( number)

2.161816470823893e+60
22676